<widget id="com.example.hello" version="0.0.1">
        <name>New Test App</name>
        <description>
            Learning PhoneGap can be fun.
        </description>
        <author email="adlansyah111290@gmail.com" href="http://phonegap.com">
            Adlan shah Cordova Team
        </author>
        <content src="index.html" />
        <access origin="*" />
		
		<icon src="potatoes.jpg"/>
		<gap:splash src ="potatoes"/>
		
		<gap:plugin name="org.apache.cordova.camera" version="0.3.2" />
		<gap:plugin name="org.apache.cordova.dialogs" version="0.2.10" />
		<gap:plugin name="org.apache.cordova.device-motion" version="0.2.10" />
    </widget>